.vscode/
__pycache__/
boxes/
*.py
!microblog/**/*.py
*/**/*.pyc
microblog/app.db
microblog/migrations/**/*.py
microblog/venv/*
microblog/logs/*.*
microblog/venv/lib/*.*
microblog/messages.*
microblog/app/translations/**/*.*
microblog.code-workspace
microblog/dump.rdb
microblog/.vscode/**/*.*
